html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #292727;
  font-family: "Londrina Solid", cursive;
  background-image: url("images/f2b81de7d19eb3d3dcea52ab5011d8fcf0f4c97a.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#game {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  position: relative;
}
#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}

#box-tabuleiro {
    width: 100%;
    height: 55%;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

#tabuleiro {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  background-color: #136596;
  position: relative;
}

.line {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.cel {
  height: 15%;
  width: 85%;
  border: 2px solid black;
  border-radius: 30%;
  background-color: white;
}

.player1 {
  background-image: url('images/saitama.png');
  background-size: cover;
}

.player2 {
  background-image: url('images/goku.jpg');
  background-size: cover;
}

#controls-top {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
#controls {
  margin: 0 auto;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 7px;
  column-gap: 20px;
  align-items: center;
  position: relative;
}

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 8px;
  border: 3px solid white;
  height: 45px;
  width: 130px;
  background-color: #1b4863fc;
  color: white;
  font-family: "Londrina Solid", cursive;
  cursor: pointer;
}

#bt-playAgain {
  width: 350px;
}

/* HEADER */
#logo {
  width: 68px;
  height: 68px;
  display: flex;
  border-radius: 12px;
  border: 1px solid white;
  background-color: #3e506b;
}

.logo-line {
  width: 22.3px;
  height: 68px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
  justify-content: space-evenly;
}

.logo-cel {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 30%;
  background-color: white;
}

#box-logo {
  background-color: #1a4762;
  width: 80px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  position: fixed;
  left: 0;
}

#title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}
footer p {
  color: white;
  font-size: 16px;
  text-align: center;
}

#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}
.hidden {
  display: none;
}
/*
*/
div#victory {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#victory p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

#bt-playAgain {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 65%;
  height: 50px;
  border: 2px solid white;
  max-width: 270px;
}
#bt-end {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 55%;
  height: 50px;
  border: 2px solid white;
  max-width: 230px;
}
#moldura-winner{
  background-color: black;
  height: 70%;
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}
/*
*/


#box-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58%;
  margin-top: 10px;
  row-gap: 20px;
}

#box-buttons-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 40px;
}

/* SELECT AVATAR */

/*teste */
div.container-avatar {
    position: absolute;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 8px;
    background-color: #142b3afc;
    animation: neon 3s alternate infinite;
    max-width: 415px;
}

div.avatar {
    z-index: 3;
    border: 2px solid white;
    border-radius: 8px;
    height: 85px;
    width: 80px;
 }

 .choose-avatar{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   row-gap: 10px;
   
 }

 #choose-avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  
 }

 .avatar-1{
   background-image: url('images/levi.jpg');
   background-size: cover;
 }
 .avatar-2{
  background-image: url('images/goku.jpg');
  background-size: cover;
}
.avatar-3{
  background-image: url('images/saitama.png');
  background-size: cover;
}
.avatar-4{
  background-image: url('images/godizilla1.jpg');
  background-size: cover;
}
.avatar-5{
  background-image: url('images/rick.jpg');
  background-size: cover;
}
.avatar-6{
  background-image: url('images/bojack.jpg');
  background-size: cover;
}
.avatar-7{
  background-image: url('images/borat.jpg');
  background-size: cover;
}
.avatar-8{
  background-image: url('images/lulamolusco.jpg');
  background-size: cover;
}
.avatar-9{
  background-image: url('images/snoop.jpg');
  background-size: cover;
}
.avatar-10{
  background-image: url('images/chopper.png');
  background-size: cover;
}

/*
#status {
    z-index: 3;
    display: flex;
    height: 800px;
    width: 300px;
    border: 1px solid white;
}
div#status-player1 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}
div#status-player2 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
} */
/**/

/* SELECT AVATAR */








/* STATUS */
#status{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.box-status{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fig-avatar{
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  /* background-image: url('images/saitama.png'); */
  background-color: #4c1b1b;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#fig-placar{
  width: 50px;
  height: 50px;
  
  display: flex;
}
#img-placar{
  object-fit: cover;
  cursor: pointer;
  
}
.name-player{
  color: white;
}
.img-avatar{
  
  object-fit: cover;
}

/* #fig-avatar-player2{
  background-image: url('images/goku.jpg');
} */
#placar{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.placar-value{
  color: white;
  font-size: 28px;
}
.info-player{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.neon {
  animation: neon 2s alternate infinite;
}
/* STATUS */

/* HEADER */
header{
  display: flex;
  justify-content: center;
  height: 100px;
  column-gap: 10%;
}
#menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
}
#box-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
#bt-regras{
  width: 90px;
  height: 40px;
  font-size: 22px;
  border-width: 2px;
}
#bt-tutorial{
  width: 90px;
  height: 40px;
  font-size: 22px;
  border-width: 2px;
}
/* HEADER */

/* REGRAS */

div#gameRules {
    position: absolute;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 8px;
    background-color: #142b3afc;
    animation: neon 3s alternate infinite;
    max-width: 315px;
    align-items: center;

}
div#gameRules p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
  margin-top: 5px;
}
div#gameRules ul {
  
  padding: 0 10px 10px 10px;
  
}
div#gameRules li {
  padding-top: 5px;
  text-align: start;
  color: white;
  font-size: 19px;
  font-family: "Londrina Solid", cursive;
  margin-bottom: 1px;
  max-width: 250px;
}
div#gameRules button {
  margin: 0 auto;
}
/* REGRAS */

/* TUTORIAL */

div#tutorial {
  position: absolute;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid white;
  border-radius: 8px;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  max-width: 415px;

}

#box-itens-tutorial{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 6px;
}
.fig-tutorial{
  width: 46%;
  height: 80%;
  border: 2px solid white;
  border-radius: 4px;
}
.itens-tutorial{
  display: flex;
  justify-content: center;
  column-gap: 4px;
  width: 100%;
  height: 28%;
}
.text-tutorial{
  width: 46%;
  height: 30%;
  color: white;
  font-size: 15px;
}

/* TUTORIAL */


/* DRAW */
#box-draw{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-draw{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 15px;
}
div#draw {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#draw p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

.moldura-draw{
  background-color: black;
  height: 40%;
  width: 50%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}
#bt-playAgain-draw{
  font-size: 26px;
  width: 142px;
  height: 48px;
  border-width: 2px;
}
#bt-end-draw{
  font-size: 26px;
  width: 104px;
  height: 43px;
  border-width: 2px;
}
/* DRAW */

/* DISABLE */

.disable {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.705);
}

/* DISABLE */

/* final screen */
div#final-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#final-screen p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

#bt-finish {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 65%;
  height: 50px;
  border: 2px solid white;
  max-width: 270px;
}

#moldura-final-p1{
  background-color: black;
  
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}
#box-final-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-final-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 40px;
}

#moldura-final-p2{
  background-color: black;
  
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}
.moldura-final{
  height: 30%;
  height: 100px;
}
.box-player-final{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 100%;
  height: 290px;
}
.placar-final{
  color: white;
  font-size: 26px;
}

/* final screen */



@media screen and (min-width: 420px) {
  #menu{
    margin-left: 0px;
  }
}



@media screen and (min-width: 768px) {
  #game {
  width: 530px;
  height: 740px;
   }
  
  #box-tabuleiro {
    border: 5px solid white;
    margin-top: 20px;
  }

#tabuleiro {
  border: 2px solid black;
}

.line {
  border: 1px solid black;
}

.cel {
  border: 3px solid black;
}
.fig-avatar{
  width: 130px;
  height: 130px;
  cursor: pointer;
  font-size: 95px;
}
#fig-placar{
  width: 60px;
  height: 60px;
}
.placar-value{
  font-size: 46px;
}
.name-player{
  font-size: 22px;
  margin-top: 4px;
}
.bt{
  
  font-size: 40px;
  
  height: 55px;
}
#bt-start{
  width: 200px;
}
#bt-reset{
  width: 200px;
}
#status{
  margin-top: 50px;
}
#controls{
  column-gap: 20px;
  width: 530px;
  margin-top: 30  px;
  position: relative;
}
#bt-regras{
  width: 150px;
  height: 50px;
  font-size: 36px;
}
#bt-tutorial{
  font-size: 36px;
  width: 150px;
  height: 50px;
}
#box-menu{
  column-gap: 20px;
  
}



/* game rules */
div#gameRules {
  width: 70%;
  height: 790px;
  max-width: 538px;
}
div#gameRules p {

font-size: 50px;

margin-top: 5px;
}
div#gameRules ul {

padding: 0 10px 10px 10px;

}
div#gameRules li {

font-size: 35px;

margin-bottom: 20px;
max-width: 510px;
}
div#gameRules button {
margin: 0 auto;
}
/* game rules */




/* choose avatar */
div.container-avatar {
  
  width: 70%;
  height: 790px;
  max-width: 538px;
  
}

div.avatar {
  cursor: pointer;
  border: 3px solid white;
  border-radius: 6px;
  height: 138px;
  width: 190px;
}

.choose-avatar{
row-gap: 15px;
}

#choose-avatar{
width: 100%;
height: 790px

}
/* choose avatar */



/* victory */
div#victory {
  max-width: 535px;
}
div#victory p {
  font-size: 40px;
}

#bt-playAgain {
  
  font-size: 40px;
  width: 65%;
  height: 58px;
  border: 2px solid white;
  max-width: 270px;
}
#bt-end {
  
  font-size: 40px;
  width: 55%;
  height: 54px;
  border: 2px solid white;
  max-width: 230px;
}
#moldura-winner{
  
  height: 70%;
  width: 75%;
  border-radius: 8px;
  border: 3px solid white;
  max-width: 365px;
}



#box-winner{
  width: 100%;
  height: 65%;
  margin-top: 10px;
  row-gap: 20px;
}

#box-buttons-winner{
  row-gap: 20px;
  margin-top: 40px;
}
/* victory */



/* draw */
#box-draw{
  width: 100%;
  height: 75%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-draw{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 15px;
}
div#draw {
  max-width: 535px;
}
div#draw p {
  font-size: 40px;
}

.moldura-draw{
  background-color: black;
  height: 40%;
  width: 75%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 340px;
}
#bt-playAgain-draw{
  font-size: 34px;
  width: 170px;
  height: 50px;
  border-width: 2px;
}
#bt-end-draw{
  font-size: 34px;
  width: 130px;
  height: 46px;
  border-width: 2px;
}


/* draw */




/* finalscreen */
div#final-screen {
  max-width: 535px;
}
div#final-screen p {
  font-size: 44px;
}

#bt-finish {
  font-size: 45px;
  width: 40%;
  height: 56px;
}

#moldura-final-p1{
  
  width: 75%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 340px;
}
#box-final-winner{
  width: 100%;
  height: 82%;
  margin-top: 0px;
  row-gap: 20px;
}

#box-buttons-final-winner{
  
  margin-top: 25px;
  
}
#moldura-final-p2{
  background-color: black;
  
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 340px;
}
.moldura-final{
  height: 30%;
  height: 210px;
}
.box-player-final{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 100%;
  height: 290px;
}
.placar-final{
  color: white;
  font-size: 36px;
}




/* finalscreen */



/* tela tutorial */
div#tutorial {
  
  max-width: 535px;
  height: 790px;
}
#box-itens-tutorial{
  row-gap: 8px;
}
.fig-tutorial{
  
  border: 3px solid white;
  border-radius: 8px;
}
.itens-tutorial{
  column-gap: 8px;
}
.text-tutorial{
  
  font-size: 27px;
}
#bt-closeTutorial{
  width: 150px;
}

/* tela tutorial */
}

/* cursor */

.mouse {
    z-index: 4;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.mouse::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

p {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
  
}
  a {
    color: teal;
  }

/*/