html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #292727;
  font-family: "Londrina Solid", cursive;
  background-image: url("images/f2b81de7d19eb3d3dcea52ab5011d8fcf0f4c97a.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#game {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  position: relative;
}
#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}

#box-tabuleiro {
    width: 100%;
    height: 55%;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

#tabuleiro {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  background-color: #136596;
  position: relative;
}

.line {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.cel {
  height: 15%;
  width: 85%;
  border: 2px solid black;
  border-radius: 30%;
  background-color: white;
}

.player1 {
  background-image: url('images/saitama.png');
  background-size: cover;
}

.player2 {
  background-image: url('images/goku.jpg');
  background-size: cover;
}

#controls-top {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
#controls {
  margin: 0 auto;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  column-gap: 20px;
  align-items: center;
}

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 8px;
  border: 3px solid white;
  height: 45px;
  width: 130px;
  background-color: #1b4863fc;
  color: white;
  font-family: "Londrina Solid", cursive;
}

#bt-playAgain {
  width: 350px;
}

/* HEADER */
#logo {
  width: 68px;
  height: 68px;
  display: flex;
  border-radius: 12px;
  border: 1px solid white;
  background-color: #3e506b;
}

.logo-line {
  width: 22.3px;
  height: 68px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
  justify-content: space-evenly;
}

.logo-cel {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 30%;
  background-color: white;
}

#box-logo {
  background-color: #1a4762;
  width: 80px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  position: fixed;
  left: 0;
}

#title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}
footer p {
  color: white;
  font-size: 16px;
  text-align: center;
}

#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}
.hidden {
  display: none;
}
/*
*/
div#victory {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#victory p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

#bt-playAgain {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 65%;
  height: 50px;
  border: 2px solid white;
  max-width: 270px;
}
#bt-end {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 55%;
  height: 50px;
  border: 2px solid white;
  max-width: 230px;
}
#moldura-winner{
  background-color: black;
  height: 70%;
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}
/*
*/


#box-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58%;
  margin-top: 10px;
  row-gap: 20px;
}

#box-buttons-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 40px;
}

/* SELECT AVATAR */

/*teste */
div.container-avatar {
    position: absolute;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 8px;
    background-color: #142b3afc;
    animation: neon 3s alternate infinite;
    max-width: 415px;
}

div.avatar {
    z-index: 3;
    border: 2px solid white;
    border-radius: 8px;
    height: 85px;
    width: 80px;
 }

 .choose-avatar{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   row-gap: 10px;
   
 }

 #choose-avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  
 }

 .avatar-1{
   background-image: url('images/levi.jpg');
   background-size: cover;
 }
 .avatar-2{
  background-image: url('images/goku.jpg');
  background-size: cover;
}
.avatar-3{
  background-image: url('images/saitama.png');
  background-size: cover;
}
.avatar-4{
  background-image: url('images/godizilla1.jpg');
  background-size: cover;
}
.avatar-5{
  background-image: url('images/rick.jpg');
  background-size: cover;
}
.avatar-6{
  background-image: url('images/bojack.jpg');
  background-size: cover;
}
.avatar-7{
  background-image: url('images/borat.jpg');
  background-size: cover;
}
.avatar-8{
  background-image: url('images/lulamolusco.jpg');
  background-size: cover;
}
.avatar-9{
  background-image: url('images/snoop.jpg');
  background-size: cover;
}
.avatar-10{
  background-image: url('images/chopper.png');
  background-size: cover;
}

/*
#status {
    z-index: 3;
    display: flex;
    height: 800px;
    width: 300px;
    border: 1px solid white;
}
div#status-player1 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}
div#status-player2 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
} */
/**/

/* SELECT AVATAR */








/* STATUS */
#status{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.box-status{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fig-avatar{
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  /* background-image: url('images/saitama.png'); */
  background-size: cover;
  background-color: #631c1c;
}
#fig-placar{
  width: 50px;
  height: 50px;
  
  display: flex;
}
#img-placar{
  object-fit: cover;
  cursor: pointer;
  
}
.name-player{
  color: white;
}
.img-avatar{
  
  object-fit: cover;
}

/* #fig-avatar-player2{
  background-image: url('images/goku.jpg');
} */
#placar{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.placar-value{
  color: white;
  font-size: 28px;
}
.info-player{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* STATUS */

/* HEADER */
header{
  display: flex;
  justify-content: center;
  height: 100px;
  column-gap: 10%;
}
#menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
}
#box-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
#bt-regras{
  width: 90px;
  height: 40px;
  font-size: 22px;
  border-width: 2px;
}
#bt-tutorial{
  width: 90px;
  height: 40px;
  font-size: 22px;
  border-width: 2px;
}
/* HEADER */

/* REGRAS */

div#gameRules {
    position: absolute;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 8px;
    background-color: #142b3afc;
    animation: neon 3s alternate infinite;
    max-width: 315px;
    align-items: center;

}
div#gameRules p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
  margin-top: 5px;
}
div#gameRules ul {
  
  padding: 0 10px 10px 10px;
  
}
div#gameRules li {
  padding-top: 5px;
  text-align: start;
  color: white;
  font-size: 19px;
  font-family: "Londrina Solid", cursive;
  margin-bottom: 1px;
  max-width: 250px;
}
div#gameRules button {
  margin: 0 auto;
}
/* REGRAS */

/* TUTORIAL */

div#tutorial {
  position: absolute;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid white;
  border-radius: 8px;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  max-width: 415px;

}

/* TUTORIAL */


/* DRAW */
#box-draw{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-draw{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 15px;
}
div#draw {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#draw p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

.moldura-draw{
  background-color: black;
  height: 40%;
  width: 50%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}
#bt-playAgain-draw{
  font-size: 26px;
  width: 142px;
  height: 48px;
  border-width: 2px;
}
#bt-end-draw{
  font-size: 26px;
  width: 104px;
  height: 43px;
  border-width: 2px;
}
/* DRAW */

/* DISABLE */

.disable {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  max-width: 515px;
}

/* DISABLE */

/* final screen */
div#final-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#final-screen p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}

#bt-finish {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 65%;
  height: 50px;
  border: 2px solid white;
  max-width: 270px;
}

#moldura-winner{
  background-color: black;
  height: 70%;
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}
#box-final-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-final-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 40px;
}

/* final screen */



@media screen and (min-width: 420px) {
  #menu{
    margin-left: 0px;
  }
}
