html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #292727;
  font-family: "Londrina Solid", cursive;
  background-image: url("images/f2b81de7d19eb3d3dcea52ab5011d8fcf0f4c97a.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#game {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  position: relative;
}
#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}

#box-tabuleiro {
    width: 100%;
    height: 55%;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

#tabuleiro {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  background-color: #136596;
}

.line {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.cel {
  height: 15%;
  width: 85%;
  border: 2px solid black;
  border-radius: 30%;
  background-color: white;
}

.player1 {
  background-color: #eeaafb;
}

.player2 {
  background-color: #63cdff;
}

#controls-top {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
#controls {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
  column-gap: 20px;
  align-items: center;
}

.bt {
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 8px;
  border: 3px solid white;
  height: 45px;
  width: 130px;
  background-color: #1b4863fc;
  color: white;
  font-family: "Londrina Solid", cursive;
}

#bt-playAgain {
  width: 350px;
}

/* HEADER */
#logo {
  width: 68px;
  height: 68px;
  display: flex;
  border-radius: 12px;
  border: 1px solid white;
  background-color: #3e506b;
}

.logo-line {
  width: 22.3px;
  height: 68px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
  justify-content: space-evenly;
}

.logo-cel {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 30%;
  background-color: white;
}

#box-logo {
  background-color: #1a4762;
  width: 80px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
}

#title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}
footer p {
  color: white;
  font-size: 16px;
  text-align: center;
}

#black-blackground {
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.4);
  z-index: 2;
}
.hidden {
  display: none;
}
/*
*/
div#victory {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#victory p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
  
}

#bt-playAgain {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 65%;
  height: 50px;
  border: 2px solid white;
  max-width: 270px;
}
#bt-end {
  filter: drop-shadow(0 0 3px white);
  font-size: 30px;
  width: 55%;
  height: 50px;
  border: 2px solid white;
  max-width: 230px;
}
#moldura-winner{
  background-color: black;
  height: 70%;
  width: 65%;
  border-radius: 8px;
  border: 2px solid white;
  max-width: 290px;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(0 0 30px white);
  }
}
/*
*/


#box-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 20px;
  row-gap: 20px;
}

#box-buttons-winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 40px;
}
div#draw {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 4px solid white;
  background-color: #142b3afc;
  animation: neon 3s alternate infinite;
  border-radius: 12px;
  max-width: 515px;
}
div#draw p {
  animation: neon 3s alternate infinite;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
}
  
/* SELECT AVATAR */

/*teste */
div.container-avatar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    background-color: #1b4863fc;
    animation: neon 3s alternate infinite;
}

div.avatar {
    z-index: 3;
    margin-bottom: 6px;
    margin-right: 15px;
    border: 1px solid white;
    height: 90px;
    width: 80px;
 }
/*
#status {
    z-index: 3;
    display: flex;
    height: 800px;
    width: 300px;
    border: 1px solid white;
}
div#status-player1 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}
div#status-player2 {
    z-index: 3;
    height: 50px;
    width: 50px;
    border: 1px solid white;
} */
/**/

/* SELECT AVATAR */
